/* Modal styles */
.addeditpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 90vh;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

/* Container for form fields */
.popupdiv {
  display: flex;
  flex-direction: column;
  width: 45%;  /* Ensures 2 items per row */
  align-items: center;
}

.popupdiv label {
  font-weight: bold;
  margin-bottom: 10px;
}

.popupInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}
.popupdiv_ label {
  font-weight: bold;
  margin-bottom: 10px;
}
.popupdiv_ select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
  max-width: 300px; /* Limita el ancho máximo del select */
}
.popupdiv_ button {
  margin-left: 10px;
  width: 40px;
  background-color: #007BFF;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Espacio entre el botón y el select */
}
/* Buttons */
.addClientBtn {
  width: 20%;
  height: 10%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 35%;
}

.addClientBtn:hover {
  background-color: #0056b3;
}

/* Dropdowns */
select.popupInput {
  background-color: #fff;
}

/* Error message */
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

/* Responsive Design for mobile */
@media (max-width: 768px) {
  .addeditpopup {
    flex-direction: column; /* Stack sections vertically on small screens */
    width: 90%;
  }

  .popupdiv {
    width: 100%; /* Make form fields stack vertically on small screens */
    margin-bottom: 15px;
  }

  .addClientBtn {
    width: auto; /* Adjust button width for small screens */
  }
}
  .table {
    width: auto; /* Se ajusta automáticamente al contenido */
    max-width: 80%; /* Asegura que no exceda el ancho del contenedor */
    border-collapse: collapse;
    margin: 20px auto; /* Centra la tabla horizontalmente */
    font-size: 16px;
    text-align: left;
  }

  .table thead {
    background-color: #f4f4f4;
  }

  .table th, .table td {
    padding: 10px;
    border: 1px solid;
    text-align: center;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
