.App{
  display: block;
  width: 565px;
  height: fit-content;
  margin-left: 35px;
  margin-bottom: 300px;
  text-align: center;
}

.search-box{
  border: 1px solid;
  height: 65px;

}

.table-box{
  margin-top: 15px;
  width: 685px;
}

.search-input{
  margin-top: 15px;
  margin-left: 15px;
  width: 260;
  height: 30px;
  border-radius: 5px;
}

.addBtn{
  width: 120px;
  height: 35px;
  margin-left: 200px;
  font-size: 13px;
  line-height: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.table{
  width: 565px;
  border-collapse: collapse;
  border-radius: 5px;
}

.table th{
  font-size: 13px;
  font-weight: bold;
  border: 1px solid;
  line-height: 23px;
  text-align: center;
  outline: none;
}
.table td{
  font-size: 10px;
  font-weight: bold;
  border: 1px solid;
  line-height: 10px;
  text-align: center;
  outline: none;
}

.table tr:nth-child(even){
  background-color: aquamarine;
}

.editBtn,.deleteBtn{
  font-size: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 65px;
}

.addeditpopup{
  width: 530px;
  height: 320px;
  border: 1px solid;
  z-index: 1;
  border-collapse: collapse;
}

h4{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 26px;
}

.closeBtn{
  float: right;
  font-size: 27px;
  font-weight: bold;
  margin-right: 5px;
  background: none;
  border-color: transparent;
}

.popupLabel{


}
.popupInput{
  margin-left:15px;
  border-radius: 5px;
  height: 20px;
  width: 210px;
  background-color: antiquewhite;
}

.izquierdo{
  margin: 15px;
  float:left;
}

.derecho{
  margin: 15px;
  float:right;
}
