.addeditpopup{
  width: 530px;
  height: 450px;
  border: 1px solid;
  z-index: 1;
  border-collapse: collapse;
}

h4{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 26px;
}

.closeBtn{
  float: right;
  font-size: 27px;
  font-weight: bold;
  margin-right: 5px;
  background: none;
  border-color: transparent;
}
.popupInput{
  margin-left:15px;
  border-radius: 5px;
  height: 20px;
  width: 210px;
  background-color: antiquewhite;
}

.izquierdo{
  margin: 15px;
  float:left;
}

.derecho{
  margin: 15px;
  float:right;
}


/* Contenedor principal para los productos */
.products-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten hacia abajo */
    gap: 16px; /* Espacio entre productos */
    justify-content: flex-start; /* Alineación a la izquierda */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    width: 100%;  /* Ocupa el 100% del ancho disponible */
    margin: 0 auto;
  }

  /* Estilo para cada producto (card) */
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 22%; /* Ajusta el ancho para que quepan varias tarjetas en una fila */
    min-width: 250px; /* Establece un ancho mínimo para las tarjetas */
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 16px; /* Añade espacio en la parte inferior de cada tarjeta */
  }

  /* Espaciado entre los datos del producto */
  .product-card div {
    margin-bottom: 8px;
  }

  /* Contenedor para los botones */
  .product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  /* Estilo para los botones */
  .editBtn, .deleteBtn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .editBtn {
    background-color: #007bff;
    color: white;
  }

  .deleteBtn {
    background-color: #dc3545;
    color: white;
  }
  .App {
    display: flex; /* O cualquier otro contenedor adecuado */
    flex-direction: column;
    width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
    box-sizing: border-box;
  }


